body 
{
	background-color: grey;
}


.my-footer
{
	float: right;
}

.add-info
{
	width: 60%;
	margin-left: 20%;
	margin-top: 5%;
	padding: 1% 1% 1% 1%;
	background-color: #454545;
}

.add-info legend
{
	text-align: center;
}

.fame-rate
{
	width: 10%;
	border-radius: 50%;
	color: orange !important;
}