/*reset everything from =>http://html5doctor.com/html-5-reset-stylesheet/*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}




















/*my Code =====================>*/

/*general!*/
body 
{
	background-color: #454545;
}

a 
{
	text-decoration: none;
}



/*Header bar styling*/
.header-bar {
	margin: 0 auto;
	width: 95%;
}

header nav {
	width: 100%;
	height: 60px;
	background-color: red;
}

header nav ul {
	float: left;
}

header nav ul li {
	float: left;
	list-style: none;
}

header nav ul li a {
	font-family: 'Times New Roman';
	font-size: 15px;
	color: black;
	line-height: 63px;
}

header nav ul li a:hover {
	color: #ccc;
}

header .login-div {
	float: right;
}

header .login-div form {
	float: left;
	padding-top: 15px;
	/* margin-left: -20%; */
}

header .login-div form input {
	float: left;
	width: 20%;
	height: auto;
	padding: 0px 10px;
	margin-right: 2%;
	border: none;
	text-align: center;
	background-color: whitesmoke;
	font-family: 'Times New Roman';
	font-size: 90%;
	color: #111;
	line-height: 30px;
}

header .login-div form button {
	float: left;
	width: 15%;
	height: 30px;
	border: none;
	background-color: red;
	font-family: 'Times New Roman';
	font-size: 90%;
	color: black;
	line-height: 30px;
	cursor: pointer;
}

header .login-div form button:hover {
	color: #ccc;
}

header .login-div a {
	display: block;
	width: auto;
	height: 30px;
	border: none;
	float: left;
	margin-right: 2%;
	background-color: red;
	font-family: 'Times New Roman';
	font-size: 90%;
	color: black;
	line-height: 200%;
	cursor: pointer;
	margin-top: 5%
}

@media only screen and (min-device-width: 500px)
{
	header .login-div a
	{
		margin-top: 0%;
	}
}

header .login-div a:hover {
	color: #ccc;
}

header .login-div .user_a
{
	width: 90%;
	height: 30px;
	margin-top: -37.5%;
	margin-right: 10%;
	margin-left: 20%;
	border: none;
	float: left;
	background-color: red;
	font-family: 'Times New Roman';
	font-size: 14px;
	color: black;
	line-height: 32px;
	cursor: pointer;
}

header .login-div .logout-button
{
	float: left;
	width: 100%;
	height: 30px;
	border: none;
	background-color: red;
	font-family: 'Times New Roman';
	margin-left: -60%;
	margin-right: 10%;
	font-size: 14px;
	color: black;
	line-height: 30px;
	cursor: pointer;
}



/*Header for each page*/
.header-container {
	padding-top: 5%;
}

.header-container h2 {
	font-family: 'Times New Roman';;
	text-decoration: overline;
	font-size: 150%;
	color: red;
	line-height: 50px;
	text-align: center;
}



/*footer.php styling*/
.footer-hr
{
	background-color: black;
	border: none;
	width: 100%;
	height: 5px;
	margin-top: 200px;
}

.footer-bq
{
	text-align: right;
	font-style: italic;
	color: red;
	text-decoration: underline;
	padding-top: 5px;
	padding-bottom: 15px;
	padding-right: 20px;
	font-size: 20px;
	/* text-decoration-color: black; */
}



/*styling for Sign-up*/
.signup-form {
	width: 30%;
	margin: 0 auto;
	padding-top: 30px;
}

.signup-form input {
	width: 90%;
	height: 4 0px;
	padding: 0px 5%;
	margin-bottom: 4px;
	border: none;
	border-radius: 23px;
	background-color: whitesmoke;
	font-family: 'Times New Roman';
	font-size: 16px;
	color: #111;
	line-height: 40px;
}

.signup-form button {
	display: block;
	width: 50%;
	height: 30px;
	margin: 0 auto;
	border: none;
	border-radius: 23px;
	background-color: grey;
	font-family: 'Times New Roman';
	font-size: 14px;
	color: whitesmoke;
	line-height: 30px;
	cursor: pointer;
}

.signup-form button:hover {
	background-color: red;
	color: black;
}



/*add-info.php styling*/
.add-info
{
	width: 40%;
	background-color: pink;
	margin: auto;
	margin-top: 2%;
}

.add-info h1
{
	color: red;
	text-align: center;
	text-decoration: overline;
	margin-top: 5%;
	padding-top: 1%;
	font-size: 130%;
	font-family: 'Times New Roman';
}

.add-info label
{
	color: #454545;
	margin-left: 0.5%;
	font-family: 'Times New Roman';
}

.add-info input
{
	margin-left: 5%;
	margin-top: -0.5%;
}

.add-info textarea
{
	width: 80%;
	margin-left: 10%;
	color: #454545;
	font-size: 75%;
	font-family: 'Times New Roman';
	margin-bottom: 2%;
}

.add-info button
{
	width: 50%;
	margin-left: 25%;
	margin-bottom: 2.5%;
	padding-top: 1%;
	padding-bottom: 1%;
	border: none;
	background-color: red;
	color: pink;
	font-size: 100%;
	font-family: 'Times New Roman';
}

.add-info button:hover
{
	box-shadow: 5px 5px 5px #454545;
	background-color: pink;
	color: red;
}